@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: "Play-Regular";
  src: url("./fonts/Play-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Play-Bold";
  src: url("./fonts/Play-Bold.ttf") format("opentype");
}

#particles-js {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 0, 1, 0.2);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  overflow: hidden;
  position: absolute;
  background-color: rgba(193, 47, 38, 0.3);
  height: 30%;
  width: 50%;
  left: 0;
  -webkit-transform: skew(-69deg, 42deg);
          transform: skew(-69deg, 42deg);
}

.right {
  position: absolute;
  background-color: rgba(193, 47, 38, 0.3);
  height: 30%;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 99;
  -webkit-transform: scale3d(1.4, 1.2, 1.3) skew(68deg, -40deg) translate(0, 70%);
          transform: scale3d(1.4, 1.2, 1.3) skew(68deg, -40deg) translate(0, 70%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 14px;
}

.wrapper {
  overflow: hidden;
  position: relative;
  background: #830010 url(./src/deadpool-bg.png) center;
  background-size: 103%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

.wrapper .deadpool {
  background: url(./src/deadpool.png) center;
  background-size: 103%;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.wrapper .main {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 95%;
  width: 95%;
}

.wrapper .main nav {
  position: absolute;
  z-index: 999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main nav .menu {
  text-decoration: none;
  font-weight: 500;
}

.wrapper .main nav .menu li {
  display: inline;
  padding: 0 17px;
}

.wrapper .main nav input {
  border: transparent;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 7px 10px;
  background-image: url(./src/iconfinder_search_172546.png);
  background-repeat: no-repeat;
  background-position: right 7px bottom 2px;
}

.wrapper .main nav input::-webkit-input-placeholder {
  color: #fff;
  font-style: italic;
}

.wrapper .main nav input:-ms-input-placeholder {
  color: #fff;
  font-style: italic;
}

.wrapper .main nav input::-ms-input-placeholder {
  color: #fff;
  font-style: italic;
}

.wrapper .main nav input::placeholder {
  color: #fff;
  font-style: italic;
}

.wrapper .main nav input:focus {
  outline: none;
}

.wrapper .main .heading {
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper .main .heading h1 {
  font-family: 'Play-Bold', sans-serif;
  font-size: 700%;
  line-height: 90%;
  margin: -8px 0px 0px -5px;
}

.wrapper .main .heading h4 {
  font-size: 130%;
}

.wrapper .main .heading p {
  margin-top: -1px;
  font-size: 110%;
}

.wrapper .main .sns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 999;
  bottom: 0;
}

.wrapper .main .sns-container a:link {
  text-decoration: none;
  color: #fff;
}

.wrapper .main .sns-container a:visited {
  color: #fff;
}

.wrapper .main .sns-container .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.wrapper .main .sns-container .icon img {
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */